html
    head
        style
            include main.css
    body
        h1="listado de productos"
        
        table 
            tr 
                th="Titulo"
                th='Precio'
                th='Imágen'
            each item in productos 
                tr 
                    td= item.title 
                    td= item.price 
                    td= item.thumbnail

            
        
        button(class='botones-redireccion') 
            a(href='http://localhost:8080/productos')="Agregar un producto"


