<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <br><br><br>

    <table>
      <tr>
        <th>Título</th>
        <th>Precio</th>
        <th>Imágen</th>
      </tr>
      <% productos.forEach((item)=> { %>
        <tr>
          <td><%=item.title%></td>
          <td><%=item.price%></td>
          <td><img src= <%=item.title%> ></td>
        </tr>
      <% }) %>
    </table>
    
    <br><br><br>

    <% productos.forEach((item)=>{ %>
        <p>
            Título: <%=item.title%><br/>
            Categoría: <%=item.type%><br/>
            Precio: <%=item.price%><br/>
            <img class="product-img" src="<%=item.thumbnail %>"/><br/>
        </p>
    <% }) %>
    <button><a href="http://localhost:8080/productos">Agregar un producto a la lista</a></button>
    <%- include('../partials/footer'); %> 
  </body>
</html>